$topBarHeight: 60px;
$statusBarHeight: 40px;

:local {
  .mainScreen {
  }

  .sectionTopBar {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    display: flex;
    align-items: center;
  }

  .container {
    /*position: absolute;*/
    height: calc(100vh - #{$statusBarHeight + $topBarHeight});
    width: 100vw;
  }

  .bottomBar {
    height: 40px;
    font-size: 12px;
  }

  .bottomBarRow {
    height: 100%;
  }

  .sideBar {
    background: #f9f9f9;
    width: 100%;
    height: $topBarHeight;
  }

  .optionRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
  }

  .codeDisplay {
    border-radius: 4px;
    font-family: 'Inconsolata', sans-serif;
    background: #f9f9f9 !important;
  }

  .codeDisplay::-webkit-scrollbar {
    height: 4px;
    width: 4px;
  }

  .codeDisplay::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 3px;
  }

  .codeDisplay::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 3px;
  }

  .windowButtonsSpacer {
    height: 30px;
  }

}