:local {
  .sideBar {
    text-align: center;
    display: flex;
    align-items: center;
    font-size: 12px;
  }
  
  .entry {
    width: 100px;
    text-align: center;
  }

  .icon {
    font-size: 24px;
  }
}