:local {
  .dialog {
    position: fixed;
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    background: white;
    border-radius: 5px;
    overflow: hidden;
  }

  .content {

  }

  .record {
    padding: 10px 0;
    display: block;
    cursor: pointer;

    &:hover {
      color: var(--accent);
    }

    &.selected {
      background: rgba(#536DFE, 0.3);
    }
  }
}