@import "~antd/dist/antd.css";
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap-reboot.css";
@import "~bootstrap/dist/css/bootstrap-grid.css";
@import "~inter-ui/inter-ui.css";

body {
  position: relative;
  color: #555;
  font-size: 14px;
  height: 100vh;
  font-family: 'Inter UI', Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

:root {
  --pink: #F50057;
  --green-bright: #00E676;
  --green: #00C853;
  --blue: #536DFE;
  --yellow: #FBC02D;
  --orange: #FF3D00;

  --accent: var(--orange);
}
