@import "~antd/dist/antd.css";
@import "~font-awesome/css/font-awesome.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~inter-ui/inter-ui.css";
@import "~highlight.js/styles/xcode.css";
@import '~katex/dist/katex.css';
@import './antd.patch.scss';

body {
  position: relative;
  color: #555;
  font-size: 14px;
  height: 100vh;
  font-family: 'Inter UI', Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

.smallText {
  font-size: 11px;
}

.fullHeight {
  height: 100%;
}

.flex {
  display: flex;
}

.flexVertical {
  display: flex;
  flex-direction: column;
}

.flexGrow {
  flex: 1 1 auto;
}

.flexCenterer {
  display: flex;
  align-items: center;
  & > * {
    width: 100%;
  }
}

.spaceAbove {
  padding-top: 15px;
}

.ta-c {
  text-align: center;
}

.pd {
  padding: 15px;
}

.disabledArea {
  opacity: 0.6;
  pointer-events: none;
  &:after {
    position: absolute;
    display: block;
    content: '';
    height: 100%;
    width: 100%;
  }
}

.avatarPlaceholder {
  width: 64px;
  height: 64px;
  display: inline-block;
}

:root {
  --pink: #F50057;
  --green-bright: #00E676;
  --green: #00C853;
  --blue: #536DFE;
  --yellow: #FBC02D;
  --orange: #FF3D00;

  --gray: #c6cbd1;

  --accent: var(--blue);
}
