:local {
  .topBar {
    display: flex;
    height: 64px;
    align-items: center;
    justify-content: space-between;
  }

  .topBarIcons {
    flex: 1 1 auto;
    text-align: right;
  }

  .topBarIcon {
    display: inline-block;
    cursor: pointer;
    padding: 0 10px;

    &.disabled {
      cursor: not-allowed;
    }
  }

  .bottomBar {
    height: 32px;
    font-size: 12px;
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bottomBarFileType {
    display: flex;
    align-items: center;

    > * {
      margin: 0 4px;
    }
  }

  .projectName {
    font-size: 28px;
    font-weight: 700;
    padding-left: 20px;
  }

  .repositoryType, .repositoryTypeSecondary {
    background: #efefef;
    border-radius: 6px;
    font-family: 'Inconsolata', sans-serif;
    padding: 5px;
    color: inherit;
    font-size: 50%;
    vertical-align: middle;
  }

  .secondary {
    font-size: 80%;
    opacity: 0.8;
  }

  .repositoryTabs {
    width: 100%;

    :global(.ant-menu-submenu-title) {
      > div {
        line-height: 1.3 !important;
        margin-top: 3px;
      }
    }

    :global(li.ant-menu-item) {
      padding-top: 3px;
      line-height: 1.3 !important;
    }
  }

  .bottomDrawer {
    height: calc(100% - 96px);
    width: 100%;
    position: fixed;
    top: 64px;
    bottom: 32px;
    left: 0;
    right: 0;
    background: white;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    pointer-events: none;

    padding: 16px;

    transition: transform 500ms, opacity 500ms;
    transform: translateY(100%);
    opacity: 0;

    &.open {
      pointer-events: all;
      transform: translateY(0%);
      opacity: 1;
    }
  }

  .hideBottomDrawer {
    text-align: right;
    cursor: pointer;
    padding: 10px;
    margin: -10px -10px 0 -10px;
  }

  .toggleBottomDrawer {
    padding: 0 10px;
    cursor: pointer;
  }

  .errorDisplay {
    background: #ffebee;
    color: #b71c1c;
    border-radius: 6px;
    font-family: 'Inconsolata', sans-serif;
    padding: 5px;
  }

  .resultsDisplay {
    background: #efefef;
    border-radius: 6px;
    font-family: 'Inconsolata', sans-serif;
    padding: 5px;
    color: inherit;
  }
}
